---
---

@import '{{ site.theme }}';

/* LISTS */

ul {
    margin-bottom: 0;
}

section > ul {
    margin-bottom: 22px;
}

/* CONTENT */

blockquote {
    padding-left: 2.5rem;
}

a.footnote {
    vertical-align: super;
    line-height: 1rem;
}

a.footnote:before {
    content: '[';
}
a.footnote:after {
    content: ']';
}

/* FOOTER */

footer a {
    display: inline;
}
