---
---

@import '{{ site.theme }}';

body {
    background-color: #1c1c1c;
}

/* CONTENT */

body,
h1,
h2,
h3,
h4 {
    color: #d7d5d4;
}

td {
    background: none;
}

section {
    font-size: 1.1rem;
}

blockquote {
    padding-left: 2.5rem;
}

a.footnote {
    vertical-align: super;
    line-height: 1rem;
    font-size: 0.55rem;
}

a.footnote:before {
    content: '[';
}
a.footnote:after {
    content: ']';
}

div[role='doc-endnotes'] {
    background-color: rgb(17, 19, 19);
    padding: 1rem;
}

/* LISTS */

ul {
    margin-bottom: 0;
}

section > ul {
    margin-bottom: 22px;
}

/* FOOTER */

footer a {
    display: inline;
}
